* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
header {
  padding: 0 20px;
  width: 100%;
  height: 70px;
  background: white;
  border-bottom: 1px solid #efefef;
  position: fixed;
}
.header-left,
.header-right {
  float: left;
  height: 100%;
}
.header-left {
  width: 20%;
}
.header-right {
  width: 80%;
}
.header-left img {
  height: 40px;
  margin-top: 15px;
}
.header-right > a {
  display: none;
}
.header-right ul {
  list-style: none;
  height: 100%;
  text-align: right;
}
.header-right ul li {
  display: inline-block;
  margin: 0 20px;
  line-height: 70px;
  height: 100%;
}
.header-right ul li a {
  color: #565a5c;
  text-decoration: none;
}
.header-right ul li a.cta {
  padding: 10px 20px;
  color: white;
  background: #e78d5c;
}

.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background: #2b3f58;
}
.hamburger-menu ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
}

.hamburger-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border-bottom: 2px solid white;
}
.close {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  font-size: 35px;
  text-decoration: none;
}

/* Main */

.container {
  height: 100vh;
  background-color: #e78d5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button {
  background-color: whitesmoke;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid grey;
  cursor: pointer;
  margin-top: 20px;
}

.container button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.fa-smile-wink,
.fa-angry {
  font-size: 30px;
  color: rgb(0, 0, 0);
  display: none;
}

/* With JS */

.show-face {
  display: block;
}

.bg-red {
    background-color: rgb(153, 25, 25);
}

.bg-yellow {
    background-color: rgb(255, 238, 0);
}


/* Media Queries */

@media screen and (max-width: 1000px) {
  .header-right ul {
    display: none;
  }
  .header-right > a {
    display: block;
    height: 100%;
    line-height: 70px;
    float: right;
    color: lightgrey;
    font-size: 20px;
  }

  .hamburger-menu.active {
    display: block;
  }
}
